Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.sub
depcomp
install-sh
config.h
config.log
config.status
configure
libtool
ltmain.sh
onig-config
sample/Makefile
sample/Makefile.in
sample/crnl
sample/encode
sample/listcap
sample/names
sample/posix
sample/simple
sample/sql
sample/syntax
stamp-h1

